/* input[type="checkbox"]{
    height: 20px;
    width: 20px;
    margin-right: 10px;

}
label{
    font-size: 25px;
    margin-top: -10px;
}
.container{
    /* border: 0.5px solid black;
    height: 10rem;
    width: 30rem;
    margin-left: 200px;
    margin-top: 100px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
button{
    height: 3rem;
    width: 8rem;
    background-color: black;
    color: white;
    font-size: 20px;
} */

/* ==================================================== */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
   
    background-color: #f0f0f0;
}
h1{
    margin-left: 150px;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box {
    margin-bottom: 15px;
}
.box input[type="radio"] {
    margin-right: 10px;
 
}
.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "verdana";
}
.options .box {
    display: flex;
    align-items: center;
}
.options input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
button{
    height: 40px;
    width: 80px;
    font-size: 20px;
    background-color: rgb(0, 174, 255);
    color: white;
   
}
